
.leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.policy-selector, .city-selector {
	position: fixed;
	color: #333;
    background-color: #FFF;
    right: 100px;
    border-radius: 5px;
	z-index: 500;
	border: 2px solid rgba(0,0,0,0.2);

    &:hover, &:active, &:focus {
        background-color: #f4f4f4
    }
}

.uk-dropdown-nav > li > a.active {
    font-weight: 600;
    color: #666
}

.policy-selector {
    top: 10px;
}

.city-selector {
	top: 70px;
}