
.policy-selector {
	position: fixed;
	color: #333;
	top: 10px;
    right: 100px;
    border-radius: 5px;
	z-index: 500;
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;

    .menu {
    	overflow-y: scroll;
    }

    .btn {
    	border: none;
    	border-radius: 5px;
    }
}

.city-selector {
	position: fixed;
	color: #333;
	top: 90px;
    right: 100px;
    border-radius: 5px;
	z-index: 500;
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;

    .menu {
    	overflow-y: scroll;
    }

    .btn {
    	border: none;
    	border-radius: 5px;
    }
}