// LEAFLET OVERRIDES

.leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.leaflet-touch .leaflet-bar {
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    border: 1px solid #e5e5e5;
}

// CUSTOM STYLING

.policy-selector, .city-selector {
	position: fixed;
	color: #333;
    background-color: #FFF;
    right: 70px;
    border-radius: 5px;
	z-index: 500;
	box-shadow: 0 5px 15px rgba(0,0,0,.08);

    &:hover, &:active, &:focus {
        background-color: #f4f4f4
    }
}

.uk-dropdown-nav > li > a.active {
    font-weight: 600;
    color: #666
}

.policy-selector {
    top: 10px;
}

.city-selector {
	top: 60px;
}

.map-legend {
    z-index: 1000;
    width: 300px;
    position: absolute;
    right: 10px;
    bottom: 40px;

    h5 {
        margin-bottom: 10px;
        font-size: .875rem;
        text-align: center;
    }

    .legend-items {
        width: 260px;

        .legend-label, .legend-color {
            width: 52px;
            height: 30px;
            display: inline-block;

            &.large {
                width: 130px;
            }
        }

        .legend-label {
            text-align: center;
            font-size: .875rem;
        }

        .legend-color {
            &.gradient-1 {
                background-color: #FAEFDA;
                border-radius: 5px 0 0 5px;
            }
            &.gradient-2 {
                background-color: #F4E0BB
            }
            &.gradient-3 {
                background-color: #FCD07E;
            }
            &.gradient-4 {
                background-color: #F4B030;
            }
            &.gradient-5 {
                background-color: #e49d1b;
                border-radius: 0 5px 5px 0;
            }
            &.color-no {
                background-color: #E2DDCF;
                border-radius: 5px 0 0 5px;
            }
            &.color-yes {
                background-color: #F9BB56;
                border-radius: 0 5px 5px 0;
            }
        }
    
    }
}

.inventory-box {
    z-index: 1010;
    min-width: 350px;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    
    .inventory-list {
        .inventory-list-item {
            font-size: .8rem;
            padding: 2px 0 2px 0;
            margin: 0;
        }
    }

    .inventory-sources {
        font-size: .8rem;
        font-style: italic;
        a {
            color: #666;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
        
    }
}